<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Классификация изображения</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Классификация изображения</h1>

    <div id="pageContainer">
        <!-- Кнопка Выберите файл и Имя файла -->
        <div id="fileInputWrapper">
            <input type="file" id="fileInput" accept="image/*">        
        </div>

        <!-- Кнопка Выберите файл и Имя файла -->
        <div class="buttonRow1">
            <button id="fileInputButton" class="customButton">Выберите файл</button>
            <span id="fileName">Файл не выбран</span>
        </div>
        
        <!-- Контейнер для отображения изображения -->
        <div id="imageContainer">
            <img id="imagePreview">
        </div>

        <!-- Кнопки Распознать и Очистить -->
        <div class="buttonRow">
            <button id="recognizeButton" class="customButton">Классифицировать</button>
            <button id="clearButton" class="customButton">Очистить</button>
        </div>
    </div>

    <!-- Текстовое поле для вывода ответа -->
    <div id="responseDiv">
        Ответ от сервера: <span id="responseText"></span>
    </div>

    <!-- Отображение информации о запросе -->
    <div id="requestInfo">
        Запрос URL: <span id="apiUrlInfo"></span>
    </div>

    <script>
        const fileInput = document.getElementById('fileInput');
        const fileName = document.getElementById('fileName');
        const fileInputButton = document.getElementById('fileInputButton');
        const imageContainer = document.getElementById('imageContainer');
        const imagePreview = document.getElementById('imagePreview');
        const recognizeButton = document.getElementById('recognizeButton');
        const clearButton = document.getElementById('clearButton');
        const responseText = document.getElementById('responseText');

        // Обработчик события изменения input type="file"
        fileInput.addEventListener('change', function () {
            const file = fileInput.files[0];
            if (file) {
                fileName.textContent = file.name;
                const reader = new FileReader();
                reader.onload = function (e) {
                    imagePreview.src = e.target.result;
                };
                reader.readAsDataURL(file);
            } else {
                fileName.textContent = 'Файл не выбран';
                imagePreview.src = '';
            }
        });        

        // Обработчик события клика на кнопке "Очистить"
        clearButton.addEventListener('click', function () {
            fileInput.value = '';
            fileName.textContent = 'Файл не выбран';
            imagePreview.src = '';
            responseText.textContent = '';
            apiUrlInfo.textContent = '';
            imageContainer.style.border = '2px dashed #ccc';
        });

        // Обработчик события клика на кнопке "Выберите файл"
        fileInputButton.addEventListener('click', function () {
            fileInput.click();
        });

        // Обработчик события клика на кнопке "Классифицировать"
        recognizeButton.addEventListener('click', function () {
            const fileInput = document.getElementById('fileInput');
            responseText.textContent = 'Думаем...';

            // Получаем актуальный файл из input type="file"
            const file = fileInput.files[0];

            if (file) {
                const reader = new FileReader();                

                // Обработчик события для чтения файла
                reader.onload = function (event) {
                    const imageBytes = new Uint8Array(event.target.result);
            
                    // Конвертируем массив байтов в строку Base64
                    const base64String = btoa(String.fromCharCode.apply(null, imageBytes));

                    // Здесь мы получаем текущий адрес браузера и заменяем его в URL запроса
                    let currentUrl = window.location.href;

                    // Удаляем завершающий слэш, если он есть
                    if (currentUrl.endsWith('/')) {
                        currentUrl = currentUrl.slice(0, -1);
                    }

                    const apiUrl = currentUrl + '/predict_html'; // Собираем полный URL

                    // Отображаем информацию о запросе
                    const apiUrlInfo = document.getElementById('apiUrlInfo');
                    apiUrlInfo.textContent = apiUrl;

                    // Подготавливаем данные для отправки
                    const requestData = { image: base64String };

                    // Отправляем данные на сервер
                    fetch(apiUrl, {
                        method: 'POST',
                        body: JSON.stringify(requestData),
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    })
                    .then(response => response.text())
                    .then(data => {
                        responseText.textContent = data;
                    })
                    .catch(error => {
                        responseText.textContent = 'Ошибка при отправке запроса на сервер.';
                    });
                };

                // Прочитайте файл как массив байтов
                reader.readAsArrayBuffer(file);
            } else {
                responseText.textContent = 'Загрузите изображение перед отправкой.';
            }
        });
    </script>
</body>
</html>
